/* page1のCSS */
.header{
 
  width: auto;
  height: 700px;
}

.header h1{
  text-align: center;
  font-size: 50px;
  color:white;
  letter-spacing: 15px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: lightsalmon;
}

.header-img{
text-align: center;
  max-width: 100%;
max-height: 450%;
width: auto;
height: auto;
  
  
}

h2{
  display: inline-block;
  border-bottom: ridge 10px gold ;
}

h3{
  display: inline-block;
  border-bottom:solid 5px red;

}

h4{
  display: inline-block;
  border-bottom:solid 5px rgb(0, 195, 255);
  margin-bottom: 0;

}

.gaide-img{
max-width: 100%;
max-height: 450%;
width: auto;
height: auto;

}
